@import 'general-properties';

#search {
  .search-bar{
    display: block;
    text-align: center;
    margin-top: 30px;

    .search-bar-item {
      width: 800px;
    }

  }  

  .image-list{
    display: block;
    margin-left: 30px;
  }

  .image-container{
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 5px 10px 24px #00000029;
    img{
      width: 300px;
      height: 300px;
      object-fit: cover;

    }
  }

  .pagination{
    margin-bottom: 10px;
  }
}
