.search-bar{
    display: block;
    text-align: center;
    margin-top: 30px;
  }
  
  .search-bar .search-bar-item {
    width: 800px;
  }

  .image-list{
    display: block;
    margin-left: 30px;
  }